name: Execute Terraform and Java Classes

on:
  workflow_dispatch:
    inputs:
      AWS_ACCESS_KEY_ID:
        description: "AWS Access Key ID"
        required: true
      AWS_SECRET_ACCESS_KEY:
        description: "AWS Secret Access Key"
        required: true
      AWS_SESSION_TOKEN:
        description: "AWS Session Token"
        required: true

jobs:
  execute-workflow:
    runs-on: windows-latest  # Usar Windows porque Terraform se ejecuta en PowerShell

    steps:
    # 1. Clonar el Repositorio
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Instalar Terraform
    - name: Install Terraform
      shell: pwsh
      run: |
        Write-Host "Instalando Terraform..."
        Invoke-WebRequest -Uri https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_windows_amd64.zip -OutFile terraform.zip
        Expand-Archive -Path terraform.zip -DestinationPath $env:USERPROFILE\terraform
        Write-Host "Agregando Terraform al PATH..."
        [System.Environment]::SetEnvironmentVariable("PATH", "$env:USERPROFILE\terraform;$env:PATH", [System.EnvironmentVariableTarget]::Process)
        Write-Host "Verificando instalación de Terraform..."
        $env:PATH = [System.Environment]::GetEnvironmentVariable("PATH", [System.EnvironmentVariableTarget]::Process)
        terraform version

    # 3. Configurar Credenciales AWS con el Token de Sesión
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ github.event.inputs.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ github.event.inputs.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ github.event.inputs.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    # 4. Ejecutar Terraform en la carpeta "terraforms"
    - name: Terraform Init
      shell: pwsh
      working-directory: terraforms
      run: terraform init

    - name: Terraform Plan
      shell: pwsh
      working-directory: terraforms
      run: terraform plan

    - name: Terraform Apply
      shell: pwsh
      working-directory: terraforms
      run: terraform apply -auto-approve

    # 5. Ejecutar módulos Java...

    - name: Run BookCrawler Java Module
      shell: pwsh
      working-directory: BookCrawler
      run: |
        mvn clean install
        mvn exec:java

    - name: Run WordCounterDatamart Java Module
      shell: pwsh
      working-directory: WordCounterDatamart
      run: |
        mvn clean install
        mvn exec:java

    - name: Run WordsGraph Java Module
      shell: pwsh
      working-directory: WordsGraph
      run: |
        mvn clean install
        mvn exec:java

    - name: Run APIGraph Java Module
      shell: pwsh
      working-directory: APIGraph
      run: |
        mvn clean install
        mvn exec:java
